body{
    background-color: brown;
}
#intro {
    background-color:whitesmoke;
    width:800px;
    left: 25%;
    position: absolute;
    top: 5%;
}
h1 {
    text-align:center;
    font-family: Garamond, serif;
}
p {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-family: Garamond, serif;
    font-size: 12pt;
}
h2{
    padding-left: 10px;
    font-family: Garamond, serif;
}
#container{
    background-color: whitesmoke;
    height: 600px;
    width:800px;
    position: absolute;
    top:19%;
    left:25%;
}
button {
    padding: 0;
    border: none;
    margin-bottom: 5px;
    background-color: #9cc4e2;
    width: 250px;
    height: 250px;
    font-size: 40px;
}
button:hover {
    opacity: 50%;
}
#buttons {
    height: 250px;
    width: 800px;
    position: relative;
    padding-left:20px;
}
.questionresults{
    text-align:center;
}
.imgresults {
    position: absolute;
    left: 35%;
    top: 10%;
}
.results {
    color:black;
    font-size: 22pt;
    padding-top: 39%;
    padding-left: -20px;
}


